/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.homepage-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homepage-hero-animation {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.homepage-hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../../public/bg29.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
  color: #4476f4;
  text-shadow: 1px 1px 3px rgb(255, 164, 216);
}

.hero-background-card {
  background: rgba(249, 249, 249, 0.95); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.homepage-btn-primary, .site-link {
  padding: 15px 40px;
  border-radius: 30px;
  background-color: rgb(68, 118, 244); /* Your brand color */
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow properties */
  animation: float 3s infinite ease-in-out; /* Adjust duration and repetition */
  display: inline-block; /* Required for transform animations */
  margin-top: 20px;
}

.homepage-btn-secondary {
  padding: 12px 35px;
  border-radius: 30px;
  background-color: rgba(255, 164, 216, .8);
  border: 2px solid black; /* Your brand color */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: rgba(0, 0, 0, .8);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow properties */
  animation: float 3s infinite ease-in-out; /* Adjust duration and repetition */
  display: inline-block; /* Required for transform animations */
}

.homepage-btn-primary:hover, .site-link:hover {
  background-color: rgb(97, 139, 255); /* Slightly darker shade for hover */
}

.homepage-btn-secondary:hover {
  background-color: rgba(255, 181, 224, 1); /* Your brand color */
}

.homepage-hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.homepage-hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.homepage-section-subtitle {
  font-size: 2rem;
  color: #4476f4;
  text-shadow: 1px 1px 1px #ffa4d8;
}

.highlight {
  color: #ffa4d8 !important;
  text-shadow: 1px 1px 1px #4476f4;
}


.flex {
  animation: float 3s infinite ease-in-out; /* Adjust duration and repetition */
  text-shadow: 1px 1px 3px #ffa4d8;
}

.fa-arrow-right {
  font-size: 28px;
  margin-right: 18px;
  color: #4476f4;
  text-shadow: 1px 1px 3px #ffa4d8;
}

.fa-arrow-down {
  font-size: 48px;
  color: #4476f4;
  text-shadow: 1px 1px 3px #ffa4d8;
  animation: float 2s infinite ease-in-out; /* Adjust duration and repetition */
}

.fa-arrow-left {
  font-size: 28px;
  margin-left: 18px;
  color: #4476f4;
  text-shadow: 1px 1px 3px #ffa4d8;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust height for the float effect */
  }
}

/* Section Titles */
.homepage-section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  text-shadow: 1px 1px 3px rgb(255, 164, 216);
}

.homepage-section-title::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #4476f4; /* Your brand color */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.call-to-action-section-title::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #4476f4; /* Your brand color */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Features Section */
.homepage-features {
  display: flex;
  align-items: center;
  text-align: center;
  color: #4476f4;
  margin-bottom: 100px;
}

.homepage-features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.homepage-feature-card {
  background-color: rgba(68, 118, 244, 0.2) !important;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepage-feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.homepage-feature-icon {
  font-size: 3rem;
  color: rgb(68, 118, 244); /* Your brand color */
  margin-bottom: 20px;
}

.homepage-feature-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.homepage-feature-description {
  font-size: 1rem;
}

/* Services Button */
.homepage-services-btn {
  margin-top: 40px;
}

/* Why Choose Us Section */
.homepage-why-choose-us {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../../public/bg30.png");
  background-size: cover;
  background-position: top;
  position: relative;
  color: #4476f4; /* Set the text color */
}

.homepage-why-choose-us-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.why-choose-us-card {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-choose-us-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.why-choose-us-icon {
  font-size: 3rem;
  color: #4476f4; /* Your brand color */
  margin-bottom: 20px;
}

.why-choose-us-description {
  font-size: 1rem;
  color: #666;
}

/* Testimonials Section */
.homepage-testimonials {
  padding-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: rgba(68, 118, 244, .9); /* Set the text color */
  padding-bottom: 20px;
}

.testimonial {
  background-color: rgba(68, 118, 244, .2);
  
}
.testimonial-author {
  color: #4476f4;
  
}

/* Call to Action Section */
.homepage-call-to-action {
  background-color: rgb(68, 118, 244); /* Your brand color */
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("../../public/bg31.png");
  background-size: cover;
  background-position: top;
  padding-top: 150px;
  padding-bottom: 50px;
}

.homepage-call-to-action .homepage-section-title {
  color: #4476f4 !important;
}

.call-to-action-description {
  font-size: 1.2rem;
  margin: 20px auto 40px;
  max-width: 700px;
  line-height: 1.6;
}

.homepage-call-to-action .homepage-btn-primary {
  background-color: #4476f4;
  color: white; /* Your brand color */
  padding: 14px 40px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
}

.homepage-call-to-action .homepage-btn-primary:hover {
  background-color: #618bff;
}

@media (max-width: 1050px) {
  .homepage-section-title {
    font-size: 2.2rem !important;
  }
  .homepage-section-subtitle {
    font-size: 1.4rem !important;
  }

  .homepage-feature-card, .why-choose-us-card {
    background-color: #fff;
    padding: 12px;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .homepage-features-grid, .homepage-why-choose-us-grid {
    margin-top: 15px;
    margin-bottom: 45px;
  }

  .homepage-hero-subtitle {
    font-size: 1.2rem;
  }

  .homepage-feature-title, .why-choose-us-title {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .homepage-feature-description, .why-choose-us-description {
    font-size: 1rem;
  }

  .testimonial-text {
    font-size: 1.1rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .homepage-hero-title {
    font-size: 2.5rem;
  }

  .homepage-hero-subtitle {
    font-size: 1.2rem;
  }

  .homepage-feature-card,
  .why-choose-us-card {
    width: 100%;
    max-width: 400px;
  }

  .homepage-features-grid {
    gap: 20px; /* Reduce gap between feature cards */
  }

  .homepage-feature-card {
    padding: 20px; /* Reduce padding for feature cards */
  }

  .homepage-feature-title {
    font-size: 1.2rem; /* Reduce font size for feature titles */
  }

  .homepage-feature-description {
    font-size: 0.9rem; /* Reduce font size for feature descriptions */
  }
}

@media (max-width: 576px) {
  .hero-background-card {
    padding: 20px;
    max-width: 200px;
  }

  .homepage-hero-title {
    font-size: 1.4rem;
  }

  .homepage-hero-subtitle {
    font-size: 1rem;
  }

  .homepage-btn-primary {
    font-size: 0.7rem;
  }

  .homepage-btn-primary {
    padding: 15px 10px;
    display: inline-block; /* Required for transform animations */
    margin-top: 20px;
  }

  .homepage-hero-title {
    margin-bottom: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .homepage-hero-subtitle {
    margin-bottom: 20px;
  }

  .homepage-section-title {
    font-size: 1.5rem !important;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #ffa4d8;
  }

  .homepage-section-subtitle {
    font-size: 1rem !important;
  }

  .fa-arrow-down {
    font-size: 28px;
  }

  .homepage-feature-card,
  .why-choose-us-card {
    padding: 15px; /* Further reduce padding for feature cards */
    width: 100%; /* Make feature cards full width */
  }

  .homepage-feature-icon {
    font-size: 2rem; /* Reduce font size for feature icons */
    color: #4476f4; /* Your brand color */
  }

  .homepage-feature-title {
    font-size: 1.2rem; /* Reduce font size for feature titles */
  }

  .homepage-feature-description {
    font-size: 0.9rem; /* Reduce font size for feature descriptions */
  }
}
