/* LinkedInSection.css */

/* Styles for the LinkedIn section */
.linkedin-section {
    margin: 50px 0;
    background-color: #f0f2f5; /* Light gray background color */
    padding: 50px 0; /* Adjust padding as needed */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
  }
  
  /* Flexbox layout for the LinkedIn content */
  .linkedin-content {
    
    max-width: 1200px; /* Limit maximum width */
    display: flex; /* Display children side by side */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
  }
  
/* Styles for the LinkedIn icon */
.linkedin-icon {
    position: absolute;
    left: calc(50% - 370px); /* Adjust as needed based on the size of your icon */
    margin-right: 0px; /* Add some space between the icon and text content */
    text-align: left; /* Align the icon to the left */
  }
  
  /* Styles for the text content */
  .linkedin-text {
    flex: 1; /* Grow to fill available space */
  }
  
  
  .linkedin-text h2 {
    font-size: 28px; /* Font size for the title */
    margin-bottom: 20px; /* Bottom margin for the title */
    color: #333; /* Dark gray text color */
  }
  
  .linkedin-text p {
    font-size: 16px; /* Font size for the description */
    margin-bottom: 20px; /* Bottom margin for the description */
    color: #666; /* Medium gray text color */
  }
  
  /* Styles for the LinkedIn link */
  .linkedin-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, you can change it to match your theme */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove default underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for the LinkedIn link */
  .linkedin-link:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
  