/* Styling for the projects page */
.projects-page {
    padding: 20px;
    background-size:cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects-page h1 {
    font-size: 36px;
  }
  
  /* Styling for the project grid */
  .project-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0px;
  }
  
  /* Styling for each project category */
  .project {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* Styling for project titles */
  .project h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  /* Styling for project descriptions */
  .project p {
    font-size: 1rem;
    color: #666;
    margin: 25px;
    /* width: 350px; */
    text-align: center;
  }
  
  /* Styling for the "Learn More" button */
  .project .btn-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .project .btn-primary:hover {
    background-color: #0056b3;
  }
  
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .project {
      margin-bottom: 30px;
    }
    
    .project h3 {
      font-size: 1.3rem;
    }
  
    .project p {
      font-size: 0.9rem;
    }
  }
  