/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Define color variables */
  --primary-color: #007bff;
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;

}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section styles */
.hero {
  display: flex;
  color: black;
  text-align: center;
  max-height: 500px;
  background-image: url("../public/UXilityPROLogo5.png");
  background-size: 70%;
  background-position: center calc(50% - 40px);
  background-position-x: center;
  height: 220px;
}

.hero-content {
  margin-top: 70px;
  margin-left: ;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--primary-color);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--primary-color)
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Features section styles */
.features {
  display: flex;
  flex-wrap: wrap; /* Allow features to wrap to next row */
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 50px 10px 0px 10px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add margin between features */
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.feature p {
  font-size: 1.1rem;
  margin-top: 20px;
}

.feature img {
  width: auto;
  height: 300px;
  border-radius: 15px;
}

/* Testimonials section styles */
.testimonials {
  text-align: center;
  margin-top: 40px; /* Reduce margin for smaller screens */
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Reduce margin for smaller screens */
}

/* Media queries for responsive design */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px; /* Adjust container padding for smaller screens */
  }

  .hero {
    padding: 80px 20px; /* Adjust hero padding for smaller screens */
  }

  .btn-primary {
    font-size: 1rem; /* Adjust button font size for smaller screens */
  }

  .features .feature {
    flex: 0 0 calc(50% - 20px); /* Adjust feature flex basis for smaller screens */
  }
}
